body {
    background: #2a329b;
    background: linear-gradient(254deg, rgba(42, 50, 155, 1) 0%, rgba(136, 87, 199, 1) 50%, rgba(201, 83, 237, 1) 100%);
    height: 100dvh;
    background-repeat: no-repeat;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    padding: 1rem 5rem;
    border-radius: 1rem;
    text-align: center;
}

.star {
    color: #ff9800;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2rem;
    display: inline-block;
}

.star:hover {
    transform: scale(1.3);
}