@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --primary-background-color: #d80c05;
    --primary-color: #121212;
    --secondary-color: #f5f5f5;
    --font-family-roboto: 'Roboto';
    --font-family-pixelify-sans: 'Pixelify Sans';
    --font-family-nunito-sans: 'Nunito Sans';
    --grey: #b9b8b8;
    interpolate-size: allow-keywords;
    --secondary-background-color: #2878f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    display: block !important;
}

a {
    text-decoration: none;
}

h1.title {
    font-family: var(--font-family-pixelify-sans);
    text-align: center;
}

.type {
    font-family: var(--font-family-roboto);
    font-size: 11px;
    width: 35%;
    line-height: 2rem;
    margin-right: 0.625rem;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.fire {
    background-color: #ff5100;
    color: var(--secondary-color);
}

.poison {
    background-color: #da05da;
    color: var(--secondary-color);
}

.grass {
    background-color: #19ad16;
    color: var(--secondary-color);
}

.normal {
    background-color: #929191;
}

.steel {
    background-color: #c0bcbc;
}

.psychic {
    background-color: #d91556;
    color: var(--secondary-color);
}

.flying {
    background-color: #89f;
    color: var(--secondary-color);
}

.fairy {
    background-color: #fa3365;
    color: var(--secondary-color);
}

.water {
    background-color: #3d64e6;
    color: var(--secondary-color);
}

.ice {
    background-color: #3dbfe6;
}

.ground {
    background-color: #e7ba24;
}

.electric {
    background-color: #ff0;
}

.rock {
    background-color: #e69934;
}

.fighting {
    background-color: #a50a05;
    color: var(--secondary-color);
}

.bug {
    background-color: #4fa814;
    color: var(--secondary-color);
}

.dragon {
    background-color: #0d5dc5;
    color: var(--secondary-color);
}

.ghost {
    background-color: #ad05ad;
    color: var(--secondary-color);
}

.dark {
    background-color: #080808;
    color: var(--secondary-color);
}