@font-face {
  font-family: 'Spooky';
  src: url('./font/Rockit.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: 'Roboto';
  background-image: url('./images/spookybg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  color: white;
}

.container {
  position: relative;
  padding: 10px 16px;
  height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
  mix-blend-mode: luminosity;
}

.right {
  display: flex;
  gap: 1rem;
}

.right>a {
  color: white;
}

.right>a:visited {
  color: white;
}

.main {
  height: calc(100dvh - 76px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Spooky';
  word-spacing: 5px;
  line-height: 2.8;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.sighting-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
  padding-bottom: 20px;
}

.sighting {
  font-family: 'Roboto';
  color: black;
  background-color: white;
  width: 350px;
  height: auto;
  interpolate-size: allow-keywords;
  transition: height .3s ease;
  padding: 10px 1rem 32px;
  position: relative;
  overflow: hidden;
}

.sighting.less {
  height: 375px;
}

.sighting>h2 {
  font-family: 'Roboto';
  line-height: 1.3;
  word-spacing: normal;
}

.date-location {
  font-size: 10px;
}

.layer {
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: end;
  background: linear-gradient(180deg, rgba(209, 209, 209, 0) 0%, rgba(255, 255, 255, 1) 30%);
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  max-width: 576px;
  margin: auto;
  gap: 1.5rem;
  padding: 20px 1rem;
}
.input-control{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
label{
  font-size: 12px;
  margin-bottom: 5px;
}
input{
  width: 100%;
  font-size: 1rem;
  padding: 5px 8px;
  border-radius: 5px;
  outline: none;
  border: 0;
}
textarea{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  resize: none;
  outline: none;
  border: 0;
  padding: 5px 8px;
  font-size: 1rem;
}
button[type="submit"]{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  cursor: pointer;
  font-family: 'Spooky';
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  outline: none;

}
.message{
  padding: 8px 10px;
  background: green;
  color: white;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
  border-radius: 5px;
  transition: right 0.3s ease-in, opacity 0.2s ease;
}
.message.inactive{
  opacity: 0;
  right: -2rem;
}