@import "tailwindcss";

@theme{
  --font-roboto:'Roboto',sans-serif
}
body{
  background-color: var(--color-zinc-800);
  color: var(--color-zinc-100);
}
#root{
  height: 100dvh;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}