* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    place-content: center;
}

.wrapper {
    text-align: center;
}

.cal-base {
    margin-inline: auto;
    border-radius: 8px;
    padding: 10px;
    max-width: 480px;
    min-width: 320px;
    background-color: #0f0f0f;
}

.keys {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.display {
    margin: 10px;
    overflow: hidden;
    /* padding: 5px 10px; */
    border-radius: 12px;
    height: 80px;
    border: 1px solid #c5c4c4;
    position: relative;
    font-family: sans-serif;
}

.preview {
    font-size: 1rem;
    color: #949494;
    text-align: end;
    height: 50%;
    padding: 10px;
    /* animation: scaling 0.5s infinite; */
}

.current {
    height: 50%;
    padding: 4px;
    font-size: 2rem;
    float: right;
    color: whitesmoke;
    /* animation: fade-in 0.5s infinite; */
}

.btn {
    color: white;
    padding: 6px;
    gap: 4px;
    background-color: #272727;
    border-radius: 6px;
    user-select: none;
}

.btn.clear {
    grid-column: span 2;
}

.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.5;
}