:root{
    --background-color: #2449f0;
    --text-color: white;
    --font : sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    place-content: center;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.password-input{
    position: relative;
    width: 75%;
    margin-bottom: 1rem;
}
.password-input>input{
    padding: 0 10px;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
}
.fa-copy{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-setting{
    width: 75%;
    margin-bottom: 18px;
}
.password-length{
    display: flex;
    column-gap: 16px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
}
#length-text{
    font-weight: 900;
}
#length-wheel{
    flex-grow: 1;
    /* background-color: red; */
}
.password-combination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.password-combination>.combo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    text-align: center;
}
.copy-notif{
    position: absolute;
    left: 0;
    bottom: 16px;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--font);
    background-color: var(--background-color);
    transition: opacity 0.5s ease , transform 0.3s linear;
    transform: translateX(20px);

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}
.buttons>button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    outline: none;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--font);
    cursor: pointer;
    transition: 0.3s ease;
}
.buttons>button:hover{
    /* background-color: var(--text-color);
    color: var(--background-color); */
    opacity: 0.8;
}
.close{
    opacity: 0;
    transform: translateX(0px);
}

@media(max-width:480px){
    .password-length{
        flex-direction: column;
    }
    .password-combination{
        flex-direction: column;
    }
    .password-combination>.combo{
        margin-top: 10px;
    }
    .password-input>input{
        font-size: 14px;
    }
    .password-combination>.combo {
        display: grid;
        justify-items: start;
        grid-template-columns: repeat(2,1fr);
        row-gap: 8px;
    }
}
