body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    align-content: center;
}

.container {
    margin-inline: auto;
}

.title {
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #e90707, #c7ab07);
    background-clip: text;
}

.content {
    margin-inline: auto;
    max-width: 500px;
    padding: 16px;
    text-align: center;
}

#type-input {
    width: 90%;
    position: relative;
    background-color: white;
    &:focus{
        background-color: #c7ab07;
    }
}

.letter-count {
    color: white;
}

#count {
    color: greenyellow;
}